<div class="container">
  <form class="form-signin">
    <h3 class="form-signin-heading" style="text-align:center">Control de Citas</h3>
    <label for="inputEmail" class="sr-only">Usuario</label>
    <input type="user" id="inputUser" class="form-control" placeholder="Usuario" required autofocus>
    <label for="inputPassword" class="sr-only">Contraseña</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Contraseña" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Iniciar Sesión</button>
  </form>
</div> <!-- /container -->